<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello App</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2 th:text="${message}"></h2>
	<form action="/spring" method="post" enctype="multipart/form-data">
		Nickname:<input type="text" name="falseName" />
		Name:<input type="text" name="name" /><br/>
		<input type="file" name="file"/><br/>
		<input type="submit" value="Send name" />
	</form>

	<hr/>

	<p th:text="'Hello, ' + ${falseName} + '!'" />

	<h1>Table</h1>
	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>
	<table border="1">
		<th:block th:each="user : ${users}">
			<tr>
				<td th:text="${user.id}">...</td>
				<td th:text="${user.falseName}">...</td>
				<td th:text="${user.name}">...</td>
			</tr>
		</th:block>
	</table>
	<h2>List All Uploaded Files</h2>
	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}"></a>
			</li>
		</ul>
	</div>
	<div>
		<h3 th:text="${totalFiles}"></h3>
		<a href="/">Back to UploadForm!</a>
	</div>
</body>
</html>